.git
.github
.env
.env.backup
.env.production
node_modules
vendor
database/database.sqlite
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
pint.json
*.md
.editorconfig
.gitattributes
.gitignore
.dockerignore
Dockerfile
